/**
 * Theme
 *
 * Adjustable theme settings.
 *
 *============================================================================*/



/* Theme
 *============================================================================*/

$colors-themes: (
  theme: (
    /* Website background color */
    bg       : #f5f5f5, /* Background color */
    bg-c     : #262626, /* Background contrast color */

    /* Website primary color */
    primary  : #1C7ED6, /* Primary color */
    primary-c: #FFFFFF, /* Primary contrast color */

    /* Website accent color */
    accent   : #D5741A, /* Accent color */
    accent-c : #FFFFFF, /* Accent contrast color */

    /* Website warning color */
    warn     : #dc143c, /* Warning color */
    warn-c   : #FFFFFF, /* Warning contrast color */

    /* Website foreground color */
    fg       : #FFFFFF, /* Foreground color */
    fg-c-prim: rgba(0,0,0,.9), /* Foreground primary contrast color */
    fg-c-sec : rgba(0,0,0,.65), /* Foreground secondary contrast color */

    /* Borders */
    border   : rgba(0,0,0,.08),

    /* Website border radii of various elements */
    button-r : 4px, /* Button border radius */
    input-r  : 4px, /* Input border radius */
    card-r   : 4px, /* Card border radius */
  ),

  sidebar: (
    width    : 256px,   /* Sidebar width (adjusting this number also changes padding-left on the main element)  */
    width-mob: 48px,    /* Sidebar width on mobile */
    scaling  : 16px,    /* Sidebar elements scale based on this number */
    theme    : #ffffff, /* Sidebar background color */ /* #262626 - dark sidebar */
    contrast : #262626, /* Sidebar text color */ /* #ffffff - dark sidebar */
    accent   : #1C7ED6, /* Sidebar icon color */ /* #80B2ED - dark sidebar */
    active   : #E7F5FF, /* Background color of active items in sidebar */ /* #283B54 - dark sidebar */
    hover    : #dedede, /* Background color of hovered items in sidebar */ /* #363636 - dark sidebar */
    position : 0,       /* Sidebar position, 0 = left, 1 = right */
    dd-b     : #d0d0d0, /* Dropdown border color */ /* rgba(255,255,255,.3) - dark sidebar */
    dd-b-a   : #737373, /* Dropdown border color - active */ /* white - dark sidebar */
    border   : rgba(0,0,0,.15)
  )
);



/* Generating CSS variables in :root
 *============================================================================*/

:root {
  @each $group-name, $group in $colors-themes {
    @each $color-name, $color-value in $group {
      --#{$group-name}-#{$color-name}: #{$color-value};
    }
  }
}



/* Generating theme classes
 *============================================================================*/

@each $group-name, $group in $colors-themes {
  .#{$group-name} {
    --theme    : var(--#{$group-name}-theme);
    --primary  : var(--#{$group-name}-primary);
    --secondary: var(--#{$group-name}-secondary);
    --tertiary : var(--#{$group-name}-tertiary );
  }
}
